<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="bg">
  <div class="main">

    <div class="row mt-5" style="margin-left: 100px;">
        <div class="white-text text-md-left" style="width: 500px; margin-top: 100px;"> 
            <h1 class="text h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="text mb-3 wow fadeInLeft" data-wow-delay="0.3s">Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
                Text Text Text Text Text Text Text Text Text Text Text Text </h6>
            <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" routerLink="/pomocna">Learn more</a>
        </div>
    </div>
  
    <section class="signup">
        <div class="container">
            <div *ngIf="displayStr == 'SingIn'" class="signup-content">
                <div>
                    <button class="btn"><span>Sing in</span></button>
                    <button class="btn" (click)="showRegister()"><span>Register</span></button>
                  </div>

                <form [formGroup]="singInForm" (ngSubmit)="onSubmit()" method="POST" id="signup-form" class="signup-form">
                  <div class="form-group">
                      <input type="mail" id="Email" class="form-input" formControlName="Email" placeholder="Mail"/>
                      <div *ngIf="singInForm.controls.Email.invalid">
                        <!--Please enter Email-->
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="password" id="Password" class="form-input" formControlName="Password" placeholder="Password"/>
                        <div *ngIf="singInForm.controls.Password.invalid">
                          <!--Please enter Password-->
                      </div>
                      </div>
  
                    <div class="form-group">
                        <input type="submit" routerLink="/register-user" (click)=becomeAUser() name="submit" id="submit" class="form-submit" value="Sign in"/>
                    </div>

                    <div class="d-flex justify-content-around">
                        <div>
                            <a href="">Remember me</a>
                        </div>
                        <div> 
                            <a href="">Forgot password?</a>
                        </div>
                    </div>

                    <p>or sign in with:</p>
                    <div style="text-align: center;">
                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="https://mail.google.com/" class="fa fa-google"></a>
                    </div>
                </form>
            </div>

            

            <div *ngIf="displayStr == 'SingUp'" class="signup-content">
                <app-sing-up (messageEvent)="reciveMessage($event)"></app-sing-up>
            </div>
        </div>
    </section>
  

    <div id="table=scroll">
            <table  class="table table-hover shopping-cart-wrap" over>
                <thead class="text-muted">
                    <tr>
                    <th scope="col">From</th>
                    <th scope="col" width="120">To</th>
                    <th scope="col" width="120">Class</th>
                    <th scope="col" width="200" class="text-right">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of allFlightss">
                        <td>
                    <figure class="media">
                        <div ></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate">{{f.companyName}}</h6>
                            <dl class="param param-inline small">
                            <dt> From: </dt>
                            <dd>{{f.from}}</dd>
                            <dd>{{f.time1}}</dd>

                            </dl>
                            <dl class="param param-inline small">
                            <dt>To: </dt>
                            <dd>{{f.to}}</dd> 
                            
                            <dd>{{f.time2}}</dd>
                            
                            </dl>
                        </figcaption>
                    </figure> 
                        </td>
                        <td> 
                            
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">{{f.price}}</var> 
                                <small class="text-muted">($)</small> 
                            </div>
                        </td>
                        <td class="text-right"> 
                            <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> 
                            <a href="" class="btn btn-outline-danger"> × Remove</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/1.jpg" class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate">Product name goes here </h6>
                            <dl class="param param-inline small">
                                <dt>Size: </dt>
                                <dd>XXL</dd>
                            </dl>
                            <dl class="param param-inline small">
                                <dt>Color: </dt>
                                <dd>Orange color</dd>
                            </dl>
                        </figcaption>
                    </figure> 
                        </td>
                        <td> 
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>	
                                <option>3</option>	
                                <option>4</option>	
                            </select> 
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">USD 35</var> 
                                <small class="text-muted">(USD10 each)</small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right"> 
                            <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> 
                            <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

  </div>
  </div>
  </body>