body, html {
    background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
  }
  .bg {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    height: 100%;
    width: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text{
      color: aliceblue;
  }