<body>
	<div class="bg">
			
			
					
						<div class="pretrazi">
							<div class="booking-form">
								<form>
									<div class="form-group">
										<div class="form-checkbox">
											<label for="roundtrip">
												<input type="radio" id="roundtrip" name="flight-type">
												<span></span>Roundtrip
											</label>
											<label for="one-way">
												<input type="radio" id="one-way" name="flight-type">
												<span></span>One way
											</label>
											<label for="multi-city">
												<input type="radio" id="multi-city" name="flight-type">
												<span></span>Multi-City
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Flying from</span>
												<input class="form-control" type="text" placeholder="City or airport" id="searchFromFilter">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Flyning to</span>
												<input class="form-control" type="text" placeholder="City or airport">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Departing</span>
												<input class="form-control" type="date" required>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Returning</span>
												<input class="form-control" type="date" required>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Adults (18+)</span>
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Children (0-17)</span>
												<select class="form-control">
													<option>0</option>
													<option>1</option>
													<option>2</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Travel class</span>
												<select class="form-control">
													<option>Economy class</option>
													<option>Business class</option>
													<option>First class</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-btn">
												<button  class="submit-btn" (click)="filterServices()">Show flights</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					
				

				<div class="conteiner2" id="style-2">
						<div class="wrapper">
							<p class="resp-tabs-list">  </p>
							<div class="cols">
									  <div routerLink="/company-profile" class="col" ontouchstart="this.classList.toggle('hover');">
										  <div class="container">
											  <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
												  <div class="inner">
													  <p>Wizzair</p>
										<span>Hungary</span>
												  </div>
											  </div>
											  <div class="back">
												  <div class="inner">
													<p>Wizz Air, legally incorporated as Wizz Air Hungary Ltd.and stylised as W!ZZ Air,is a Hungarian low-cost airline with its head office in Budapest.</p>
												  </div>
											  </div>
										  </div>
									  </div>
			
									  <div routerLink="/book-a-flight" class="col" ontouchstart="this.classList.toggle('hover');">
										  <div class="container">
											  <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
												  <div class="inner">
													  <p>Airserbia</p>
										<span>Serbia</span>
												  </div>
											  </div>
											  <div class="back">
												  <div class="inner">
													  <p>AirSerbia is the flag carrier of Serbia. The company's headquarters is located in Belgrade, Serbia,Nikola Tesla Airport</p>
												  </div>
											  </div>
										  </div>
									  </div>
			
									  <div routerLink="/rent-a-car" class="col" ontouchstart="this.classList.toggle('hover');">
										<div class="container">
											<div class="front" style="background-image: url(https://unsplash.it/502/502/)">
												<div class="inner">
													<p>Rayanair</p>
									  <span>Irish</span>
												</div>
											</div>
											<div class="back">
												<div class="inner">
													<p>Ryanair is an Irish budget airline founded in 1984, Dublin, with its primary operational bases at Dublin and London Stansted airports</p>
												</div>
											</div>
										</div>
									</div>
			
							</div>
							
						</div>
						
					</div>

					<div class="conteiner3" id="style-22">
						<div [hidden]="searchedFlights.length !== 0">
							<hr/>
							<h5 style="text-align: center;">Trenutno nema dostupnih LETOVA koja zadovoljavaju zadate parametre.</h5>
						  </div>
						  <div [hidden]="searchedFlights.length === 0">
							<app-search-flight [searchedFlights]="searchedFlights"></app-search-flight>
						  </div>

					</div>



				
				

		</div>
		</body>