<body>
	<div class="bg">
			<div id="booking" class="section">
			<div class="section-center">
					<div class="container">
						<div class="row">
							<div class="booking-form">
								<form>
									<div class="form-group">
										<div class="form-checkbox">
											<label for="roundtrip">
												<input type="radio" id="roundtrip" name="flight-type">
												<span></span>Roundtrip
											</label>
											<label for="one-way">
												<input type="radio" id="one-way" name="flight-type">
												<span></span>One way
											</label>
											<label for="multi-city">
												<input type="radio" id="multi-city" name="flight-type">
												<span></span>Multi-City
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Flying from</span>
												<input class="form-control" type="text" placeholder="City or airport">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Flyning to</span>
												<input class="form-control" type="text" placeholder="City or airport">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Departing</span>
												<input class="form-control" type="date" required>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Returning</span>
												<input class="form-control" type="date" required>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Adults (18+)</span>
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Children (0-17)</span>
												<select class="form-control">
													<option>0</option>
													<option>1</option>
													<option>2</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Travel class</span>
												<select class="form-control">
													<option>Economy class</option>
													<option>Business class</option>
													<option>First class</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-btn">
												<button routerLink="/book-a-flight" class="submit-btn">Show flights</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="conteiner2" id="style-2">
						<div class="wrapper">
							<p class="resp-tabs-list">  </p>
							<div class="cols">
									  <div routerLink="/company-profile" class="col" ontouchstart="this.classList.toggle('hover');">
										  <div class="container">
											  <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
												  <div class="inner">
													  <p>Wizzair</p>
										<span>Lorem ipsum</span>
												  </div>
											  </div>
											  <div class="back">
												  <div class="inner">
													<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
												  </div>
											  </div>
										  </div>
									  </div>
			
									  <div routerLink="/book-a-flight" class="col" ontouchstart="this.classList.toggle('hover');">
										  <div class="container">
											  <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
												  <div class="inner">
													  <p>Airserbia</p>
										<span>Lorem ipsum</span>
												  </div>
											  </div>
											  <div class="back">
												  <div class="inner">
													  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
												  </div>
											  </div>
										  </div>
									  </div>
			
									  <div routerLink="/rent-a-car" class="col" ontouchstart="this.classList.toggle('hover');">
										<div class="container">
											<div class="front" style="background-image: url(https://unsplash.it/502/502/)">
												<div class="inner">
													<p>Rayanair</p>
									  <span>Lorem ipsum</span>
												</div>
											</div>
											<div class="back">
												<div class="inner">
													<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
												</div>
											</div>
										</div>
									</div>
			
							</div>
							
						</div>
						
					</div>

					<div class="conteiner3" id="style-22">
							<div *ngFor="let f of allFlightss" class="div1">
									<div class="div2">{{f.departing}}</div>
									<div class="div3From">{{f.from}}</div>
									<div class="image"></div>
									<div class="div4">{{f.returning}}</div>
									<div class="div5To">{{f.to}}</div>
									<div class="divName">{{f.companyName}}</div>
									<div class="btn">
									<button class="myButton">BOOK {{f.price}}$</button>
								</div>
								</div>

					</div>



				</div>
				

		</div>
		</body>