<body>
                <div class="bg"> 
                <div class="conteinter4">
                <div class="image2"></div>
                <div class="about"><p style="color:whitesmoke">Wizz Air, legally incorporated as Wizz Air Hungary Ltd. (Hungarian: Wizz Air Hungary Légiközlekedési Kft.) and stylised as W!ZZ Air,
                         is a Hungarian[3] low-cost airline with its head office in Budapest. The airline serves many cities across Europe, as well as some destinations
                          in North Africa and the Middle East.[4] It has the largest fleet of any Hungarian airline, although it is not a flag carrier, and currently serves
                           44 countries.[4][5] Its Jersey-based parent company, Wizz Air Holdings plc, is listed on the London Stock Exchange and is a constituent of the
                            FTSE 250 Index. As of 2018,
                         the airline has its largest base at Budapest Airport with over 60 destinations. In 2019 the airline transported 39.8 million passengers</p></div>
        
                    
                </div> 
                <div class="booking-form">
                                <form>
                                        <div class="form-group">
                                                <div class="form-checkbox">
                                                        <label for="roundtrip">
                                                                <input type="radio" id="roundtrip" name="flight-type">
                                                                <span></span>Roundtrip
                                                        </label>
                                                        <label for="one-way">
                                                                <input type="radio" id="one-way" name="flight-type">
                                                                <span></span>One way
                                                        </label>
                                                        <label for="multi-city">
                                                                <input type="radio" id="multi-city" name="flight-type">
                                                                <span></span>Multi-City
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <span class="form-label">Flying from</span>
                                                                <input class="form-control" type="text" placeholder="City or airport">
                                                        </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <span class="form-label">Flyning to</span>
                                                                <input class="form-control" type="text" placeholder="City or airport">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                                <span class="form-label">Departing</span>
                                                                <input class="form-control" type="date" required>
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                                <span class="form-label">Returning</span>
                                                                <input class="form-control" type="date" required>
                                                        </div>
                                                </div>
                                                <div class="col-md-2">
                                                        <div class="form-group">
                                                                <span class="form-label">Adults (18+)</span>
                                                                <select class="form-control">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                </select>
                                                                <span class="select-arrow"></span>
                                                        </div>
                                                </div>
                                                <div class="col-md-2">
                                                        <div class="form-group">
                                                                <span class="form-label">Children (0-17)</span>
                                                                <select class="form-control">
                                                                        <option>0</option>
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                </select>
                                                                <span class="select-arrow"></span>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                                <span class="form-label">Travel class</span>
                                                                <select class="form-control">
                                                                        <option>Economy class</option>
                                                                        <option>Business class</option>
                                                                        <option>First class</option>
                                                                </select>
                                                                <span class="select-arrow"></span>
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <div class="form-btn">
                                                                <button routerLink="/book-a-flight" class="submit-btn">Show flights</button>
                                                        </div>
                                                </div>
                                        </div>
                                </form>
                        </div>
                        
                       
                        <div class="conteiner3" id="style-22" >
                                        <div class="inp1"><input type="text" class="inp" name="min" placeholder="lowest price.."></div>
                                        <div class="inp2"><input type="text" class="inp" name="max" placeholder="higest price.."></div>
                                        <div class="inp3"><input type="text" class="inp" name="cnm" placeholder="company name.."></div>
                                        <div class="btn11"><button class="button1">filter</button></div>
                                        <!--<div class="slctComp"> <select class="inp" name="country">
                                                        <option value="australia">Wizzair</option>
                                                        <option value="canada">Rayanair</option>
                                                        <option value="usa">USA</option>
                                                  </select></div>-->
                                                
                                        <div *ngFor="let f of allFlightss" class="div1">
                                                        <div class="div2">{{f.departing.toLocaleString()}}</div>
                                                        <div class="div3From">{{f.from}}</div>
                                                        <div class="image"></div>
                                                        <div class="div4">{{f.returning.toLocaleString()}}</div>
                                                        <div class="div5To">{{f.to}}</div>
                                                        <div class="divName">{{f.companyName}}</div>
                                                        <div class="btn2">
                                                        <button routerLink="/payment" class="myButton2">BOOK {{f.price}}$</button>
                                                </div>
                                                </div>

                        </div>
                                    
            </div>


            <div class="conteiner8">
                        <div class="form-group">
                                <span class="form-label" style="color:white;" >Flying from</span>
                                <input class="form-control" type="text" placeholder="City or airport">
                        </div>
                        <div class="form-group">
                              <span class="form-label" style="color:white;">Flyning to</span>
                              <input class="form-control" type="text" placeholder="City or airport">
                        </div>
                         <div class="form-group">
                            <span class="form-label" style="color:white;">Departing</span>
                           <input class="form-control" type="date" required>
                          </div>
                          <div class="form-group">
                                        <span class="form-label" style="color:white;">Returning</span>
                                        <input class="form-control" type="date" required>
                         </div>
                         <div class="form-group">
                                        <span class="form-label" style="color:white;">Price</span>
                                        <input class="form-control" type="text" placeholder="Price">
                        </div>
                        <div class="form-group">
                                        <span class="form-label" style="color:white;">Stops</span>
                                        <input class="form-control" type="text" placeholder="Stops">
                        </div>   

                         <button  class="myButton2">ADD NEW FLIGHT</button>
            </div>
        </body>