 <form ><!--</form>#form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)" id="signup-form" class="signup-form"> -->

    <!-- <input type="hidden" name="carId" [value]="service.formData.carId"> -->
  
    <div class="form-group">
        Enter Number of Days: 
        <!--<input #serviceName="ngModel" [(ngModel)]="service.formData.serviceName" name="serviceName" type="text" class="form-input" id="serviceName" required/> -->
        <input name="NumofDays" type="number" class="form-input" id="NumofDays" placeholder="1" required/>
    </div>

    <div class="form-group">
        Total Price: {{car.pricePerDay}} 
    </div>

</form>  