<body>
  <div class="bg">
<div class="main">

  <section class="signup">
      <div class="container">
          <div class="signup-content">
              <form [formGroup]="singUpForm" (ngSubmit)="onSubmit()" method="POST" id="signup-form" class="signup-form">
                <h2 class="form-title">Create account</h2>

                  <div class="form-group">
                      <input type="text" id="FirstName" class="form-input" formControlName="FirstName" placeholder="Your Name"/>
                      <div *ngIf="singUpForm.controls.FirstName.invalid">
                        <!--Please enter First name-->
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="mail" id="Email" class="form-input" formControlName="Email" placeholder="Mail"/>
                    <div *ngIf="singUpForm.controls.Email.invalid">
                      <!--Please enter Email-->
                  </div>
                  </div>

                  <div class="form-group">
                    <input type="password" id="Password" class="form-input" formControlName="Password" placeholder="Password"/>
                    <div *ngIf="singUpForm.controls.Password.invalid">
                      <!--Please enter Password-->
                  </div>
                  </div>

                  <div class="form-group">
                    <input type="password" id="Password" class="form-input" formControlName="Password" placeholder="Repeat your password"/>
                    <div *ngIf="singUpForm.controls.Password.invalid">
                      <!--Please enter Password-->
                  </div>
                  </div>

                  <div class="form-group">
                    <input type="text" id="City" class="form-input" formControlName="City" placeholder="City"/>
                    <div *ngIf="singUpForm.controls.City.invalid">
                      <!--Please enter City-->
                  </div>
                  </div>

                  <div class="form-group">
                    <input type="string" id="PhoneNumber" class="form-input" formControlName="PhoneNumber" placeholder="Phone number"/>
                    <div *ngIf="singUpForm.controls.PhoneNumber.invalid">
                      <!--Please enter PhoneNumber-->
                  </div>
                  </div>

                  <div class="form-group">
                      <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                  </div>
              </form>
              <p class="loginhere">
                  Have already an account ? <a routerLink="/sing-in" class="loginhere-link">Login here</a>
              </p>
          </div>
      </div>
  </section>

</div>
</div>
</body>