<form>
  <div class="inner-form">
    <div class="input-field first-wrap">
      Rent Service Name: 
      <input type="text" placeholder="{{car.serviceName}}" id="serviceName"/>
    </div>

    <div class="input-field first-wrap">
      Car Brand:
      <input type="text" placeholder="{{car.brand}}" id="brand"/>
    </div>

    <div class="input-field first-wrap">
      Car Model:
      <input type="text" placeholder="{{car.model}}" id="model"/>
    </div>

    <div class="input-field first-wrap">
      Car Year:
      <input type="text" placeholder="{{car.year}}" id="year"/>
    </div>

    <div class="input-field first-wrap">
      Price per Day:
      <input type="text" placeholder="{{car.pricePerDay}}" id="pricePerDay"/>
    </div>

    <div class="input-field first-wrap">
      Number of Seats:
      <input type="text" placeholder="{{car.numOfSeats}}" id="numberOfSeats"/>
    </div>

    <div class="input-field fifth-wrap">
      <button class="btn-search" type="button">Add Image</button>
    </div>

    <div class="input-field first-wrap">
      Car Locatio:
      <input type="text" placeholder="{{car.location}}" id="location"/>
    </div>

    <div class="input-field fifth-wrap">
      <button class="btn-search" type="button" (click)="AddCar()">Add Rent Service</button>
    </div>
  </div>
</form>