<body>
	<div class="bg">
    <div class="whiteBg">
		<div class="main-agileinfo">
        <p style="color: rgba(255, 255, 255, 1);">.</p>
        <p class="resp-tabs-list" style="margin-top: 25%;"> Find car for you </p>	
        <form [formGroup]="SearchCarForm" (ngSubmit)="onSubmit()"  method="POST" id="signup-form" class="signup-form">
          
					<div class="from">
						<h3>Rent a Car Service</h3>

						<input type="text" id="Place" class="form-input" formControlName="Place" placeholder="Location or Name"/>
                      <div *ngIf="SearchCarForm.controls.Place.invalid">
                       
                    </div>
                    </div>
                            
                    <div class="clear"></div>        
						<div class="date">
								<h3>Start Date</h3>
								<input type="date" class="datepicker" class="form-input" formControlName="StartDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.StartDate.invalid">
										
									</div>
                                
								<h3>End Date</h3>
								<input type="date" class="datepicker" class="form-input" formControlName="EndDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.EndDate.invalid">
										
									</div>
						</div>

						<div class="clear"></div>
						<div class="clear"></div>
						<div class="form-group">
							<input type="submit" routerLink="/car" name="submit" id="submit" class="form-submit" value="Search"/>
						</div>
				</form>	
			</div>	
			
			<div class="conteiner">
				<section id="services" class="services">
          <div class="container">
    
            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div routerLink="/car/rent-a-car" class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4 class="title"><a href="">Hartz Car Rental</a></h4>
                  <p class="description">Automobile za sve potrebe i želje možete naći kod nas.</p>
                </div>
              </div>
    
              <div routerLink="/car/rent-a-car" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4 class="title"><a href="">Dollar Car Rental</a></h4>
                  <p class="description">Za vas na puno lokacija širom vašeg grada.</p>
                </div>
              </div>
    
              <div routerLink="/car/rent-a-car" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">Avis Car Rental</a></h4>
                  <p class="description">Ekskluzivna vozila za duga i kratka putovanja.</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section>
    </div>
  </div>
	</div>
</body>