<body>
	<div class="bg">
		<div class="main-agileinfo">
			<p class="resp-tabs-list"> Find car for you </p>
				<form [formGroup]="SearchCarForm" (ngSubmit)="onSubmit()" method="POST" id="signup-form" class="signup-form">	
					<div class="from">
						<h3>Rent a Car Service</h3>

						<input type="text" id="Place" class="form-input" formControlName="Place" placeholder="Location or Name"/>
                      <div *ngIf="SearchCarForm.controls.Place.invalid">
                        <!--Please enter Email-->
                    </div>
                    </div>
                            
                    <div class="clear"></div>        
						<div class="date">
								<h3>Start Date</h3>
								<input type="date" id="datepicker" class="form-input" formControlName="StartDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.StartDate.invalid">
										<!--Please enter Email-->
									</div>
                                
								<h3>End Date</h3>
								<input type="date" id="datepicker" class="form-input" formControlName="EndDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.EndDate.invalid">
										<!--Please enter Email-->
									</div>
						</div>

						<div class="clear"></div>
						<div class="clear"></div>
						<div class="form-group">
							<input type="submit" routerLink="/car" name="submit" id="submit" class="form-submit" value="Search"/>
						</div>
				</form>	
			</div>	
			
			<div class="conteiner">
				<table class="table table-hover">
					<thead class="table">
						<tr>
							<th scope="col">MARKA</th>
							<th scope="col">MODEL</th>
							<th scope="col">GODINA</th>
							<th scope="col">CENA ZA JEDAN DAN</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let car of allCars">
							<td>{{car.brand}}</td>
							<td>{{car.model}}</td>
							<td>{{car.year}}</td>
							<td>{{car.pricePerDay}}$</td>
						</tr>
					</tbody>
					
				</table>
			</div>
			

		</div>
</body>