<body>
	<div class="bg">
		<div class="main-agileinfo">
			<p class="resp-tabs-list"> Find car for you </p>
				<form [formGroup]="SearchCarForm" (ngSubmit)="onSubmit()" method="POST" id="signup-form" class="signup-form">	
					<div class="from">
						<h3>Rent a Car Service</h3>

						<input type="text" id="Place" class="form-input" formControlName="Place" placeholder="Location or Name"/>
                      <div *ngIf="SearchCarForm.controls.Place.invalid">
                       
                    </div>
                    </div>
                            
                    <div class="clear"></div>        
						<div class="date">
								<h3>Start Date</h3>
								<input type="date" class="datepicker" class="form-input" formControlName="StartDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.StartDate.invalid">
										
									</div>
                                
								<h3>End Date</h3>
								<input type="date" class="datepicker" class="form-input" formControlName="EndDate" placeholder="mm/dd/yyyy"/>
									<div *ngIf="SearchCarForm.controls.EndDate.invalid">
										
									</div>
						</div>

						<div class="clear"></div>
						<div class="clear"></div>
						<div class="form-group">
							<input type="submit" routerLink="/car" name="submit" id="submit" class="form-submit" value="Search"/>
						</div>
				</form>	
			</div>	
			
			<div class="conteiner" >
				<section>
            <div class="container-fluid">
              <div class="container">
                <div class="row">

                  <div class="col-sm-4">
                    <div class="card text-center">
                      <div class="title">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <h2>Hertz Car Rental</h2>
                      </div>
                      <div class="price">
                        <h4><sup>$</sup>25</h4>
                      </div>
                      <div class="option">
                        <ul>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 10 GB Space </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                        <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                        </ul>
                      </div>
                      <a href="#">Order Now </a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="card text-center">
                      <div class="title">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <h2>Dollar Car Rental</h2>
                      </div>
                      <div class="price">
                        <h4><sup>$</sup>50</h4>
                      </div>
                      <div class="option">
                        <ul>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 50 GB Space </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 5 Domain Names </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                        <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                        </ul>
                      </div>
                      <a href="#">Order Now </a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="card text-center">
                      <div class="title">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        <h2>Avis Car Rental</h2>
                      </div>
                      <div class="price">
                        <h4><sup>$</sup>100</h4>
                      </div>
                      <div class="option">
                        <ul>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited GB Space </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> 30 Domain Names </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                        <li> <i class="fa fa-check" aria-hidden="true"></i> Live Support </li>
                        </ul>
                      </div>
                      <a href="#">Order Now </a>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </section>
		</div>
	</div>
</body>