body, html {
    background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
  }  .bg {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.conteiner3{
    position: absolute;
  right: 750px;
  top:250px;
    height: 70%;
    width: 30%;
    padding: 20px;
    background: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 25px;
    border-radius: 10px;
  }
  .seat{
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(212, 208, 208, 0.3);
    border-radius: 6px;
    border: 3px solid rgba(87, 142, 224, 0.938);
    padding: 5px;
    margin: 5px;
  }
  .cl1{
    position: absolute;
    left: 30px;
    width: 55px;
    
  }
  .cl2{
    position: absolute;
    width: 55px;
    left: 83px;
    
  }
  .cl3{
    position: absolute;
    right: 30px;
    width: 55px;
    
  }
  .cl4{
    position: absolute;
    width: 55px;
    right:  83px;
    
  }
  
  .div1{
    background-color: rgba(255, 255, 255, 0.795);
    width: 570px;
    height: 145px;
    top:10px;
    border-radius: 10px;
    position: absolute;
    right: 750px;
    top:100px;
    
  }
  .div2{
    position: absolute;
    left: 14px;
    top: 14px;
  }
  .div3From{
    font-family: "Lucida Console";
    font-size: 150%;
    position: absolute;
    left: 14px;
    top: 54px;
  }
  div.image {
    position: absolute;
    width: 530px;
    height: 100px;
    left: 250px;
    top: 12px;
    content:url(../flights/avio.png);
   
  }
  .div4{
    position: absolute;
    right: 14px;
    top: 14px;
  }
  .div5To{
    font-family: "Lucida Console";
    font-size: 150%;
    position: absolute;
    right: 34px;
    top: 54px;
  }
  .divName{
    font-family: "Impact";
    font-size: 150%;
    position: absolute;
    left: 250px;
    top: 14px;
    
  }
  .div111{
    background-color:  rgba(0, 0, 0, 0.3);
    width: 570px;
    height: 145px;
    bottom:5px;
    border-radius: 10px;
    position: absolute;
    right: 750px;
   
    
  }
  .btn33{
    position: absolute;
   left:45%;
    bottom: 44px;
  }
  .myButton33 {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:11px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:9px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
  }
  .choose{
      position: absolute;
      top :2px;
      right: 40%;
      font-family: "Lucida Console";
      font-size: 150%;

  }