<div class="main">
        <div class="main-agileinfo"> 
          <div id="owl-demo" class="owl-carousel owl-theme"><!-- owl-carousel -->

            <div *ngFor="let rentService of filtredRentServices" class="list">
            <div class="item">
              <div class="pricing pricing-two">
                <div class="pricing-top top-two">
                  <h3>{{rentService.serviceName}}</h3>
                  <p>{{rentService.location}}</p>
                  <div class="rate"> <ngb-rating [rate]="3"></ngb-rating> </div> 
                </div>
                <div class="pricing-bottom"> 
                <div class="img1">
                  <img style="width: 100%;" src={{rentService.img}}/>
                </div>
                <div class="agileits-buy">
                  <a class="popup-with-zoom-anim" (click)="onSelect(rentService)">More</a>
                  <a class="popup-with-zoom-anim" [hidden]="check()" style="margin-left: 10%;" (click)="onSelectRentService(rentService)">Change</a>
                  <a class="popup-with-zoom-anim" [hidden]="check()" style="margin-left: 30%;" (click)="onDelete(rentService.serviceId)">Delete</a>
                </div>
                </div>
              </div> 
            </div> 
          </div>

          </div>	
        </div>	
      </div>
