<div class="main">
        <div class="main-agileinfo"> 
          <div id="owl-demo" class="owl-carousel owl-theme"><!-- owl-carousel -->

            <div *ngFor="let service of filtredRentServices" class="list">
            <div class="item">
              <div class="pricing pricing-two">
                <div class="pricing-top top-two">
                  <h3>{{service.serviceName}}</h3>
                  <p>{{service.location}}</p>
                </div>
                <div class="pricing-bottom"> 
                <div class="img1">
                  <img style="width: 100%;" src={{service.img}}/>
                </div>
                <div class="agileits-buy">
                  <a class="popup-with-zoom-anim" (click)="onSelect(service)">More</a>
                  <a class="popup-with-zoom-anim" [hidden]="check()" style="margin-left: 10%;" (click)="onSelect(service)">Change</a>
                </div>
                </div>
              </div> 
            </div> 
          </div>

          </div>	
        </div>	
      </div>
