<form>
    <div class="inner-form">
      <div class="input-field first-wrap">
        Rent Service Name: 
        <input id="search" type="text" placeholder="{{rentService.serviceName}}" id="serviceName"/>
      </div>

      <div class="input-field first-wrap">
        Rent Service Locarion:
        <input id="search" type="text" placeholder="{{rentService.location}}" id="location"/>
      </div>

      <div class="input-field fifth-wrap">
        <button class="btn-search" type="button">Add Image</button>
      </div>

      <div class="input-field first-wrap">
        About Rent Service:
        <input id="search" type="text" placeholder="{{rentService.about}}" id="about"/>
      </div>

      <div class="input-field first-wrap">
        Rent Service Contact:
        <input id="search" type="text" placeholder="{{rentService.contact}}" id="contact"/>
      </div>

      <div class="input-field fifth-wrap">
        <button class="btn-search" type="button" (click)="AddRentService()">Add Rent Service</button>
      </div>
    </div>
  </form>